body {
  margin: 0px;
  padding: 0px;
  background-color: #002f2b;
  background-image: url("./images/Prime-ish_tile.png");
  color: #404040;
  font-family: 'Nanum Gothic', 'Verdana', sans-serif;
  font-size: 10pt;
  line-height: 1.2em;
}

article.page {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 60px;
  width: 60%;
  height: 100%;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 10px 20px 0 black;
}

h1, h2 {
  color: #244061;
  font-family: 'Ubuntu Mono', 'Courier New', monospace;
}

h1 {
  font-size: 2.8em;
  text-align: center;
}

h2 {
  font-size: 1.4em;
  line-height: 0;
  margin-bottom: 1em;
}

h3 {
  color: black;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

h4 {
  color: gray;
  font-family: 'Ubuntu Mono', 'Courier New', monospace;
  font-weight: bold;
  font-size: 1em;
  line-height: 1em;
  margin: 0px;
  margin-bottom: 0.5em;
}

section {
  margin-bottom: 2em;
}

p {
  margin: 0em;
  margin-top: 0.5em;
}

ul {
  margin: 0px;
  list-style-type: square;
}

span.date_range {
  float: right;
  text-align: right;
}

#contact_info {
  font-family: 'Ubuntu Mono', 'Courier New', monospace;
  font-weight: bold;
  line-height: 0;
  overflow: auto;
}

#contact_info p {
  margin: 0em;
  line-height: 1.2em;
}

#contact_info a:link {
    color: black;
}

#contact_info a:visited {
    color: black;
}

#contact_info a:hover {
    color: blue;
}

#contact_info a:active {
    color: purple;
}

div#contact_info_left {
    float: left;
}
div#contact_info_right {
  float: right;
  text-align: right;
}

#projects a:link {
  color: blue;
  text-decoration: none;
}

#projects a:visited {
  color: purple;
  text-decoration: none;
}

#projects a:hover {
  color: blue;
  text-decoration: underline;
}

#projects a:active {
  color: yellow;
  text-decoration: underline;
}